#owl-carousel{
    height: 166px;
    background: #F4F4F4;
    margin-top: -10px;
    .item{
        margin-top: 70px;
        padding: 30px;
        img{
            max-height: 1.625em;
            opacity: .3;
            margin: 0;
        }
    }
}