
#collective{

h3{
    font-size: 32px;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 26px;
  }
  .text-p{
    max-width: 45%;
    margin-left: 28%;
      
  }

  p{
      font-size: 23px;
      font-family: $font-f;
      color: $text-color;
      
  }

}