// popup search start
.popup{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: none;

    .searchicon{
        display: inline-block;
        position: fixed;
        top: 53%;
        left: 28%;
        color: red;
        z-index: 33;
    }
    .input-search{
        width: 50%;
        border: solid 1px;
        display: inline-block;
        position: fixed;
        top: 50%;
        left: 27%;
        padding: 10px 42px;
    }
}



.popup-show{
    display: block;
}

.popup-none{
    display: none;
}

// popup search end

// popup basket start
